<!--404页面模板-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<!--<script type="text/javascript" src="/images/404.png" charset="utf-8"></script>-->
<p align="center"><img alt="" src="/images/404.png" /></p>
<p align="center"><a href="/" >返回主页</a></p>

</body>
</html>