<!--友情链接模板-->
<%- include header %>
<ul style="list-style:none">
    <li><h3><a href="https://baidu.com">百度</a></h3></li>
    <li><h3><a href="http://wiki.jikexueyuan.com/project/express-mongodb-setup-blog/">极客学院</a></h3>使用express搭建个人博客！</li>
    <li><h3><a href="https://cnodejs.org/">Cnodejs</a></h3>中国最大nodejs社区</li>
</ul>
<%- include footer %>